
body{
padding: 0px;
margin: 0px;
overflow-x: hidden;
box-sizing: border-box;
}
.parent_div{
  width: 100%;  
  background: linear-gradient(
  to right,
  #FFF7C2 20%,  
  #fbbff5 80% 
); 
}
 .navbar_div{
  width: 100%;
  height: 70px;
  background-color: #f78075;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
  letter-spacing: 3px;
  font-weight: bold;
}
.navbar_sub{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_image{
  height: 1.6em;   
}
.body_div {
  width: 100%;
  height: 800px;
  display: flex;
}
.left_body_div {
  width: 50%;
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.body_button{
  background-color: #ef8278; 
    height: 10%;
    width: 35%;
    color: white;
    font-size: large;
      font-family: "Montserrat", sans-serif;
    border: none;
}
.left_body_heading{
    font-family: "Montserrat", sans-serif;
    letter-spacing: .25ch;;
    font-size: 3.5em;
    font-weight: bold;
}
.left_body_description{
    font-family: "Montserrat", sans-serif;
    line-height: 35px;
    font-size: 1.2em;
}
.left_body_subdiv{
    width: 80%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
}
.right_body_div {
  width: 50%;
  height: 100%;

}
.right_body_div_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.right_bottom_div{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  position: relative;
}
.card_div{
  width: 80%;
  background-color: #f78075;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.navbar_div div :hover {
  font-size: 30px;
}
p{
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
}
.arrow{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.arrow img{
    width: 30%;
    height: 100%;
}
.bottom_div {
  width: 100%;
  height: 650px;
  display: flex;
}
.left_bottom_div {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 50px;
  gap: 20px;
  align-items: center;
  box-sizing: border-box; 
}
.left_bottom_subdiv div{
  width: 100%;
  height: 50%;

}
.left_bottom_subdiv{
  width: 50%;
  height: 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:5px;
  box-sizing: border-box;
}

.left_bottom_subdivimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.left_bottom_subdivtwo{
  width: 50%;
  height: 100%;

}

.left_bottom_subdivtwo_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1024px) {

  .navbar_div{
    height: 70px;
    font-size: 1.4em;
  }

  .navbar_sub{
    width: 80%;
    height: 100%;
    justify-content: space-between;
  }

  .navbar_image{
    height: 1.6em;
    width: auto;
  }

  .left_body_heading{
     font-size: 2.5em;
}
.card_div{
  width: 90%;
}

.left_bottom_subdiv{
  
  width: 100%;
}
.left_bottom_subdivtwo{
  width:100%;
}
.left_bottom_subdivtwo_img{
  height: 100;
  width: 100%;
}
}
 @media screen and (min-width: 425px) and (max-width: 768px) {
  .body_div {
    height: 600px;
    min-height: 600px;
  }
  .bottom_div {
    width: 100%;
    display: flex;
    flex-direction: column; 
    height: auto; 
    gap: 0;
  }
  .navbar_div {
    height: auto;
    font-size: 1.2em;
  }

  .navbar_sub {
    width: 90%;
    display: flex;
    gap: 10px;
  }

  .left_body_heading {
    font-size: 2.5em;
  }

  .left_body_description {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .body_button {
    font-size: 1.1em;
  }
  .left_bottom_div {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .left_bottom_subdiv,
  .left_bottom_subdivtwo {
    width: 50%;
    height: 450px; 
  }

  .left_bottom_subdivimg,
  .left_bottom_subdivtwo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 
  .right_bottom_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;      
    padding: 60px 0;   
    
    position: relative;
    top: 0;            
  }

 
  .card_div {
    width: 70%;
    position: relative;
    margin: 0 auto;
    z-index: 10;
  }
}




@media screen and (max-width:475px){

  *{
    overflow-x: hidden;
  }

  .body_div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .navbar_div{
    height: auto;
    font-size: 1em;
  }

  .navbar_sub{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .left_body_div,
  .right_body_div{
    width: 100%;
  }

  .right_body_div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right_body_div_img{
    width: 100%;
    
    object-fit: cover;
  }

  .bottom_div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .left_bottom_div{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .left_bottom_subdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .left_bottom_subdiv div,
  .left_bottom_subdivtwo{
    width: 100%;
  }


  .right_bottom_div{
    width: 100%;
    position: relative;       
    display: flex;
    justify-content: center;   
  }

  .card_div{
    position: relative;        
    width: 90%;
    margin: 20px auto;         
    font-size: small;
  }

 

  .left_body_description{
    font-size: 1em;
  }

  .body_button{
    font-size: 1em;
    margin-top: 10px;
  }

  .arrow{
    width: 20%;
  }

  .arrow img{
    width: 100%;
  }
}

@media screen and (max-width:475px){

  *{
    overflow-x: hidden;
    box-sizing: border-box;
  }

  /* BODY */
  .body_div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  
  .navbar_div{
    height: auto;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    
  }

  .navbar_sub{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    
  }
  .navbar_sub div{
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
  }

  
  .left_body_div,
  .right_body_div{
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* background-color: red; */
  }

  .left_body_subdiv{
    width: 92%;
    text-align: justify;
  }

  .right_body_div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right_body_div_img{
    width: 93%;
    max-width: 100%;
    margin-top: 15px;
    object-fit: cover;
    display: block;
  }

  /* BOTTOM SECTIONS */
  .bottom_div,
  .left_bottom_div,
  .left_bottom_subdiv,
  .left_bottom_subdivtwo{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px;   
    margin: 0;
    gap: 8px;
  }

  .left_bottom_subdiv div{
    padding: 0;
    margin: 0;
  }

  /* CARD CENTERING */
  .right_bottom_div{
    width: 100%;
    position: relative; 
    display: flex;
    justify-content: center; 
  }

  .card_div{
    position: relative;
    width: 96%;
    margin: 20px auto;  
    font-size: small;
  }

  /* TEXT STYLING */
  .left_body_heading{
    font-size: 1.8em;
  }

  .left_body_description{
    font-size: 1em;
  }

  .body_button{
    font-size: 1em;
    margin-top: 10px;
    height: 30px
  }

  .arrow{
    width: 20%;
  }

  .arrow img{
    width: 30%;
  }

 
  .left_bottom_subdivimg,
  .left_bottom_subdivtwo_img {
    width: 100%;           
    height: auto;          
    max-height: 220px;     
    display: block;
    object-fit: cover;     
  }

}

@media screen and (max-width:319px){

  .right_bottom_div{
    position: relative;   
    width: 100%;
    height: auto;
    min-height: 200px;   
  }

  .card_div{
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: small;
  }
}
